In [1]:
#READING IN FILES

In [2]:
import pandas as pd

In [3]:
pd.read_csv(r"C:\Users\njeri\Desktop\Python\scraped.csv", header = None, names = ['Ticket', 'Status'])

     Ticket  Status
0     58898  CLOSED
1     75342  CLOSED
2     58869  CLOSED
3     71741  CLOSED
4     70899  CLOSED
..      ...     ...
233   68377  CLOSED
234   75574  CLOSED
235   75564    OPEN
236   75431  CLOSED
237   73596  CLOSED

[238 rows x 2 columns]

In [4]:
df = pd.read_csv(r"C:\Users\njeri\Desktop\Python\scraped.csv")
df

     58898  CLOSED
0    75342  CLOSED
1    58869  CLOSED
2    71741  CLOSED
3    70899  CLOSED
4    74305  CLOSED
..     ...     ...
232  68377  CLOSED
233  75574  CLOSED
234  75564    OPEN
235  75431  CLOSED
236  73596  CLOSED

[237 rows x 2 columns]

In [5]:
df = pd.read_csv(r"C:\Users\njeri\Documents\Ticket #74837.txt")
df

  /* Update of EBM status in eTIMS to enable the Taxpayer generate invoices
0                                   Ticket #74837 */
1  update myrra.taxpayer_base set ebm_ty_cd='02' ...
2                                            commit;

In [6]:
df2 = pd.read_excel(r"C:\Users\njeri\Ticket #76044.xlsx")
df2

             PIN                      TAXPAYER NAME          ISSUE    STATUS
0    A001517425S             RONARD MOCHONI ONSONGO  DATA MIGRATION      VAT
1    A001242099R                     Ezekiel Otieno  DATA MIGRATION  NON VAT
2    A001258407Z                 cleaveland onyango  DATA MIGRATION  NON VAT
3    A001294167T                      NELSON MWAURA  DATA MIGRATION  NON VAT
4    A001699764S              VINCENT EKESA WABWIRE  DATA MIGRATION  NON VAT
..           ...                                ...             ...      ...
142  P052316797U              JKB SOLUTIONS LIMITED  DATA MIGRATION  NON VAT
143  P052316954L        BENIHYA ENTERPRISES LIMITED  DATA MIGRATION  NON VAT
144  P052317157I                  BLACKLEAF LIMITED  DATA MIGRATION  NON VAT
145  P052317499V  Caketa Farming Revolution Limited  DATA MIGRATION  NON VAT
146  P052317782P       ANALOG & DIGITAL SYSTMES LTD  DATA MIGRATION  NON VAT

[147 rows x 4 columns]

In [7]:
pd.set_option('display.max.rows', 175)

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PIN            147 non-null    object
 1   TAXPAYER NAME  147 non-null    object
 2   ISSUE          147 non-null    object
 3   STATUS         147 non-null    object
dtypes: object(4)
memory usage: 4.7+ KB

In [9]:
df2.shape

(147, 4)

In [11]:
df2.head(10)

           PIN             TAXPAYER NAME          ISSUE    STATUS
0  A001517425S    RONARD MOCHONI ONSONGO  DATA MIGRATION      VAT
1  A001242099R            Ezekiel Otieno  DATA MIGRATION  NON VAT
2  A001258407Z        cleaveland onyango  DATA MIGRATION  NON VAT
3  A001294167T             NELSON MWAURA  DATA MIGRATION  NON VAT
4  A001699764S     VINCENT EKESA WABWIRE  DATA MIGRATION  NON VAT
5  A001722463T        JOSEPH KAMAU NGUGI  DATA MIGRATION  NON VAT
6  A001773936A        Peter Sakwa Akulia  DATA MIGRATION  NON VAT
7  A002266631Z        Julius Mutiso Muli  DATA MIGRATION  NON VAT
8  A002440773P  MICHAEL BWIRE MASAKHALIA  DATA MIGRATION  NON VAT
9  A002503326I    Michael Osere Nyongesa  DATA MIGRATION  NON VAT

In [12]:
df2.tail(10)

             PIN                      TAXPAYER NAME          ISSUE    STATUS
137  P052309533F          Realcode Networks Limited  DATA MIGRATION  NON VAT
138  P052312165W           BANTECH SERVICES LIMITED  DATA MIGRATION  NON VAT
139  P052313190Z             Germdeal Suppliers Ltd  DATA MIGRATION  NON VAT
140  P052313856E    EMKAY FARMS & TRADE SYSTEMS LTD  DATA MIGRATION  NON VAT
141  P052314886M          XELOD ENTERPRISES LIMITED  DATA MIGRATION  NON VAT
142  P052316797U              JKB SOLUTIONS LIMITED  DATA MIGRATION  NON VAT
143  P052316954L        BENIHYA ENTERPRISES LIMITED  DATA MIGRATION  NON VAT
144  P052317157I                  BLACKLEAF LIMITED  DATA MIGRATION  NON VAT
145  P052317499V  Caketa Farming Revolution Limited  DATA MIGRATION  NON VAT
146  P052317782P       ANALOG & DIGITAL SYSTMES LTD  DATA MIGRATION  NON VAT

In [20]:
df2.rank

<bound method NDFrame.rank of              PIN                                      TAXPAYER NAME  \
0    A001517425S                             RONARD MOCHONI ONSONGO
1    A001242099R                                     Ezekiel Otieno
2    A001258407Z                                 cleaveland onyango
3    A001294167T                                      NELSON MWAURA
4    A001699764S                              VINCENT EKESA WABWIRE
5    A001722463T                                 JOSEPH KAMAU NGUGI
6    A001773936A                                 Peter Sakwa Akulia
7    A002266631Z                                 Julius Mutiso Muli
8    A002440773P                           MICHAEL BWIRE MASAKHALIA
9    A002503326I                             Michael Osere Nyongesa
10   A002701401X                            Nicholas Gatiba Kirangi
11   A002708816Y                                DAVID EFUMBI BARASA
12   A002802846V                                     Jackson Otieno
13   A002862862D                                Julius Kiptoo Talam
14   A002925939J                              DOUGHLAS CHARO KALUME
15   A003143735F                              VALARIE KADENYI JUMBA
16   A003358010G                                       EUGENE KAKAI
17   A003453002Z                               David Omondi Wasonga
18   A003644192B                                  PETER MAINA KIAMA
19   A003928908J                                      ESTHER WANGUI
20   A003991603P                               George Mugo Wainaina
21   A004012655H                                   Ignatius Wanjala
22   A004153299U                                        PETER MWITA
23   A004349656H                                         SAWE KIBET
24   A004403204Z                                Peter Onyango Ekesa
25   A004760285A                                      Charles Okumu
26   A005078321N                            KHAMIS MOHAMMED MUTWAFY
27   A005315361R                               JOHN NDIRUI WAINAINA
28   A005498511U                                GRACE NYAGUTHI WERU
29   A005529027Z                                TESS PAMELA ACHIENG
30   A005619399V                                   Caroline muthoni
31   A005655389P                                      DANIEL MUKURU
32   A005805159G                             Gilbert Lukalia Kubili
33   A005906104T                                     Gabriel Otieno
34   A005914403Q                                Anthorny John Mulli
35   A006076325O                           Shelmith Wangari Wambugu
36   A006148315J                                      FIDELIS NAOMI
37   A006148315J                                     FIDELIS NJENGA
38   A006170833E                                 Eric Kinoti Samwel
39   A006559287T                              HENRY WAMBUA KIMANTHI
40   A006777382R                                DANIEL KIMELI MUTAI
41   A006931445U                              MARTIN KIRAGU GATUMBU
42   A007191695U                                     Lilian Kemunto
43   A007312376S                                       AGNES GITHUI
44   A007515113K                               James Karanja Wangui
45   A007542086A                                       JULIUS MUIRU
46   A007593688P                                    CHARLES WANJIKU
47   A007600432I                                     Agnetta Kanini
48   A007643001H                                      JULIUS KIMANI
49   A008318586L                                      TERESIA NDORO
50   A008500471Q                                      JAMES GICHUKI
51   A008632684G                                   JOSPHAT WANYONYI
52   A008812826Y                               John Gichuhi Muthama
53   A008814996T                                       Robert Gitau
54   A008904201Z                                     SAMUEL MUTHONI
55   A009132535G                             MULINGE OURE VALENTINE
56   A009264092Y                               GEOFFREY LUTTA NJOMO
57   A009852636D                                Rhoda Kalimi Mutata
58   A010081563D                                Daniel Kivuva Nzive
59   A010332000N                                 GEORGE ODUOR OWINO
60   A010387777I                                          Paul Chai
61   A010471856Z                                      GRACE WANJORA
62   A010543612D                                    FIDELIS NYENDWE
63   A010543612D                                    FIDELIS NYENDWE
64   A010855206R                                       Elvas Ongeri
65   A010909418Z                           Christopher Maloba Okumu
66   A011102934X                                     samuel kimotho
67   A011544120E                            KENNETH OTAGET OSIGWARI
68   A011603470P                            Collins Mdawadi Muluhya
69   A011803227M                                     MICHAEL OBONYO
70   A011884836D                                   MDOE TUNGWA MDOE
71   A011937469P                                         JUMA MASHA
72   A012184689Y                                      MOSES MUSASHI
73   A012835703T                                Stephen Otieno Ooko
74   A012859516D                             Charles Odhiambo Egesa
75   A017943288N                                      Kelvin kimani
76   A018667607F                                  YUSSUF ABDIRAHMAN
77   A018747285R                              CALEB LENKARIE DIKIRR
78   A018750845Y                                      RUGENZA NGABO
79   A019161489S                                  BEATRICE MIGARIZA
80   A019182146J                               Imgard Salome Oyondi
81   A019320576S                             Victoria Kambua Salome
82   A019500915I                               JOHN MUCHIRA KARANJA
83   A019630218J                                       KEISHA GONAH
84   A019638560L                                    MAUREEN MUHONJA
85   A020327976I                              Ignatius Mubweka Ouma
86   A020379110M                                  MESHACK LEKAROKIA
87   A020509586Z                                        Laura Ogoga
88   A020524397F                                     Magdaline Jura
89   A020708374K                                   CATHERINE KAMEME
90   A020715112K                                      DUNCAN NJENGA
91   A020748776U                                      Kioko Mwanyia
92   A020779857X                                   Nekuama nkoitiko
93   A020783982M                           RAPHAEL WANYONYI WAMALWA
94   A020810171Q                                 Mark Odhiambo Atak
95   A020817804A                                      JOEL CHESIMET
96   A020830072S                                Cheruyot Yegon Eric
97   A020857262K                             HILLARY KIPRUTOH KIRUI
98   P052267870P                            PHENCA YARD ENTERPRISES
99   P052270698K                          TILE PALACE MERCHANTS LTD
100  P052272292E                           Tessred Technologies Ltd
101  P052283441W  Charine General Supplies And Construction Limited
102  P052287873U                          HARL TECHNOLOGIES LIMITED
103  P052288701D                               Prits atuls biashara
104  P052300961V                 AIR COOL CLIMATE SYSTEMS SOLUTIONS
105  P052291589J                        LIZ AQUA REFILL STATION LTD
106  P052272560Z                             MAST ASSESSORS LIMITED
107  P052302179B                   J&J SWIFT AUTO SOLUTIONS LIMITED
108  P052302300E                  JEREPETT GENERAL SUPPLIES LIMITED
109  P052303394E                 HARUNSON GENERAL SUPPLIERS LIMITED
110  P052315351A                       NEGITWAY ENTERPRISES LIMITED
111  P052316640A                                       Nivana Feeds
112  P052314163Y                                   URBAN TUNNEL LTD
113  P052313832U                        Urban Tech Auto Parts Ltd -
114  P052306007S                  GGS -XPERT LINK & VISIONS LIMITED
115  P052267188S                         Contrix Investment Limited
116  P052308937L                         Brosam Enterprises Limited
117  P052273264C                                    KABUDAS KITCHEN
118  P051465329G                    Sparkle Welders and Fabricators
119  P051368582T                                   Sacara venture's
120  P051851551E                                   EDIES DENTAL LTD
121  P052267512X                          WELVART SOLUTIONS LIMITED
122  P052274932B               INSUREPLACE INSURANCE AGENCY LIMITED
123  P052280205K                             EVERSTRONG MASKANI LLP
124  P052283175F                             BEVANTE HIJABS LIMITED
125  P052284687Q                              Truck consultancy ltd
126  P052285552I                                  Jostar Consultant
127  P052287359R                      Imagitex General Supplies Ltd
128  P052288754S                        ORGANIC ZONES AGRO-EXPO LTD
129  P052291324Z                            SYNTHEGRATE CONSULT LTD
130  P052292569K               MANKAN GLASS SHIELDS AND FITTERS LTD
131  P052295881R                              Hilaac Spices Limited
132  P052302116H                      Tricia's Beauty Point Limited
133  P052304065Y                               HERSTEL SUPPLIES LTD
134  P052305446B                            MIEPA EASTFRICA LIMITED
135  P052305877Z                         Axelis Enterprises Limited
136  P052307586Q                                    HULUNGO LIMITED
137  P052309533F                          Realcode Networks Limited
138  P052312165W                           BANTECH SERVICES LIMITED
139  P052313190Z                             Germdeal Suppliers Ltd
140  P052313856E                    EMKAY FARMS & TRADE SYSTEMS LTD
141  P052314886M                          XELOD ENTERPRISES LIMITED
142  P052316797U                              JKB SOLUTIONS LIMITED
143  P052316954L                        BENIHYA ENTERPRISES LIMITED
144  P052317157I                                  BLACKLEAF LIMITED
145  P052317499V                  Caketa Farming Revolution Limited
146  P052317782P                       ANALOG & DIGITAL SYSTMES LTD

             ISSUE    STATUS
0    DATA MIGRATION      VAT
1    DATA MIGRATION  NON VAT
2    DATA MIGRATION  NON VAT
3    DATA MIGRATION  NON VAT
4    DATA MIGRATION  NON VAT
5    DATA MIGRATION  NON VAT
6    DATA MIGRATION  NON VAT
7    DATA MIGRATION  NON VAT
8    DATA MIGRATION  NON VAT
9    DATA MIGRATION  NON VAT
10   DATA MIGRATION  NON VAT
11   DATA MIGRATION  NON VAT
12   DATA MIGRATION  NON VAT
13   DATA MIGRATION  NON VAT
14   DATA MIGRATION  NON VAT
15   DATA MIGRATION  NON VAT
16   DATA MIGRATION  NON VAT
17   DATA MIGRATION  NON VAT
18   DATA MIGRATION  NON VAT
19   DATA MIGRATION  NON VAT
20   DATA MIGRATION  NON VAT
21   DATA MIGRATION  NON VAT
22   DATA MIGRATION  NON VAT
23   DATA MIGRATION  NON VAT
24   DATA MIGRATION  NON VAT
25   DATA MIGRATION  NON VAT
26   DATA MIGRATION  NON VAT
27   DATA MIGRATION  NON VAT
28   DATA MIGRATION  NON VAT
29   DATA MIGRATION  NON VAT
30   DATA MIGRATION  NON VAT
31   DATA MIGRATION  NON VAT
32   DATA MIGRATION  NON VAT
33   DATA MIGRATION  NON VAT
34   DATA MIGRATION  NON VAT
35   DATA MIGRATION  NON VAT
36   DATA MIGRATION  NON VAT
37   DATA MIGRATION  NON VAT
38   DATA MIGRATION  NON VAT
39   DATA MIGRATION  NON VAT
40   DATA MIGRATION  NON VAT
41   DATA MIGRATION  NON VAT
42   DATA MIGRATION  NON VAT
43   DATA MIGRATION  NON VAT
44   DATA MIGRATION  NON VAT
45   DATA MIGRATION  NON VAT
46   DATA MIGRATION  NON VAT
47   DATA MIGRATION  NON VAT
48   DATA MIGRATION  NON VAT
49   DATA MIGRATION  NON VAT
50   DATA MIGRATION  NON VAT
51   DATA MIGRATION  NON VAT
52   DATA MIGRATION  NON VAT
53   DATA MIGRATION  NON VAT
54   DATA MIGRATION  NON VAT
55   DATA MIGRATION  NON VAT
56   DATA MIGRATION  NON VAT
57   DATA MIGRATION  NON VAT
58   DATA MIGRATION  NON VAT
59   DATA MIGRATION  NON VAT
60   DATA MIGRATION  NON VAT
61   DATA MIGRATION  NON VAT
62   DATA MIGRATION  NON VAT
63   DATA MIGRATION  NON VAT
64   DATA MIGRATION  NON VAT
65   DATA MIGRATION  NON VAT
66   DATA MIGRATION  NON VAT
67   DATA MIGRATION  NON VAT
68   DATA MIGRATION  NON VAT
69   DATA MIGRATION  NON VAT
70   DATA MIGRATION  NON VAT
71   DATA MIGRATION  NON VAT
72   DATA MIGRATION  NON VAT
73   DATA MIGRATION  NON VAT
74   DATA MIGRATION  NON VAT
75   DATA MIGRATION  NON VAT
76   DATA MIGRATION  NON VAT
77   DATA MIGRATION  NON VAT
78   DATA MIGRATION  NON VAT
79   DATA MIGRATION  NON VAT
80   DATA MIGRATION  NON VAT
81   DATA MIGRATION  NON VAT
82   DATA MIGRATION  NON VAT
83   DATA MIGRATION  NON VAT
84   DATA MIGRATION  NON VAT
85   DATA MIGRATION  NON VAT
86   DATA MIGRATION  NON VAT
87   DATA MIGRATION  NON VAT
88   DATA MIGRATION  NON VAT
89   DATA MIGRATION  NON VAT
90   DATA MIGRATION  NON VAT
91   DATA MIGRATION  NON VAT
92   DATA MIGRATION  NON VAT
93   DATA MIGRATION  NON VAT
94   DATA MIGRATION  NON VAT
95   DATA MIGRATION  NON VAT
96   DATA MIGRATION  NON VAT
97   DATA MIGRATION  NON VAT
98   DATA MIGRATION      VAT
99   DATA MIGRATION      VAT
100  DATA MIGRATION      VAT
101  DATA MIGRATION      VAT
102  DATA MIGRATION      VAT
103  DATA MIGRATION      VAT
104  DATA MIGRATION      VAT
105  DATA MIGRATION      VAT
106  DATA MIGRATION      VAT
107  DATA MIGRATION      VAT
108  DATA MIGRATION      VAT
109  DATA MIGRATION      VAT
110  DATA MIGRATION      VAT
111  DATA MIGRATION      VAT
112  DATA MIGRATION      VAT
113  DATA MIGRATION      VAT
114  DATA MIGRATION      VAT
115  DATA MIGRATION      VAT
116  DATA MIGRATION      VAT
117  DATA MIGRATION      VAT
118  DATA MIGRATION      VAT
119  DATA MIGRATION  NON VAT
120  DATA MIGRATION  NON VAT
121  DATA MIGRATION  NON VAT
122  DATA MIGRATION  NON VAT
123  DATA MIGRATION  NON VAT
124  DATA MIGRATION  NON VAT
125  DATA MIGRATION  NON VAT
126  DATA MIGRATION  NON VAT
127  DATA MIGRATION  NON VAT
128  DATA MIGRATION  NON VAT
129  DATA MIGRATION  NON VAT
130  DATA MIGRATION  NON VAT
131  DATA MIGRATION  NON VAT
132  DATA MIGRATION  NON VAT
133  DATA MIGRATION  NON VAT
134  DATA MIGRATION  NON VAT
135  DATA MIGRATION  NON VAT
136  DATA MIGRATION  NON VAT
137  DATA MIGRATION  NON VAT
138  DATA MIGRATION  NON VAT
139  DATA MIGRATION  NON VAT
140  DATA MIGRATION  NON VAT
141  DATA MIGRATION  NON VAT
142  DATA MIGRATION  NON VAT
143  DATA MIGRATION  NON VAT
144  DATA MIGRATION  NON VAT
145  DATA MIGRATION  NON VAT
146  DATA MIGRATION  NON VAT  >

In [22]:
df2.loc[146]

PIN                               P052317782P
TAXPAYER NAME    ANALOG & DIGITAL SYSTMES LTD
ISSUE                          DATA MIGRATION
STATUS                                NON VAT
Name: 146, dtype: object

In [22]:
df2.iloc[146]

PIN                               P052317782P
TAXPAYER NAME    ANALOG & DIGITAL SYSTMES LTD
ISSUE                          DATA MIGRATION
STATUS                                NON VAT
Name: 146, dtype: object